.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  color: var(--Yellow);
  font-weight: 700;
  /* font-size: 24px;
  line-height: 32px; */
  font-size: 1.33em;
  line-height: 133%;
}

.inputContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.icon {
  position: absolute;
  left: 12px;
  display: flex;
  align-items: center;
  pointer-events: none;
  color: var(--Grey-Icon);
}

.input {
  width: 100%;
  max-width: 285px;
  /* max-width: 14.84rem; */
  color: var(--White);
  /* font-size: 18px;
  line-height: 24px; */
  outline: none;
  transition: var(--transition);
  border-radius: 999px;
  border: 0.5px solid var(--White);
  background: var(--Dark-Grey);
  font-size: 0.9375em;
  line-height: 133%;
  padding: 1.04em 1.04em 1.04em 2.3em;
  font-family: Gotham-Book;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* width: 285px; */
  width: 14.84rem;
  cursor: pointer;
  background-image: url("../../assets/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 24px;
  transition: var(--transition);
}
@media (orientation: portrait) {
  .wrapper {
    width: 100%;
  }
  .input {
    max-width: unset;
    padding: 13px 12px 13px 40px;
    font-size: 18px;
    line-height: 24px;
  }
  .label {
    font-size: 24px;
    line-height: 32px;
  }
}
