@import "../node_modules/modern-normalize/modern-normalize.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

:root {
  font-family: "Segoe UI", system-ui, Gotham, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  /* colors */
  --White: #fff;
  --Yellow: #c1ff16;
  --Grey-BG: #1c1c1c;
  --Grey-BG-2: #303030;
  --Grey-BG-3: #2a2e36;
  --Dark-Grey: #262626;
  --Grey-Icon: #99a1af;
  --Light-Grey: #6e7684;
  --Orange: #f94819;
  --Blue: #2f4acb;
  --Purple: #8181d5;
  --Black: #181718;
  --Red: #ff0033;
  --Light-devider: #d6fe46;
  --Dark-devider: #bbe601;

  /* utils */
  --transition: all 0.3s ease-in-out;
  --padding-container-desktop: 300px;
  --padding-container-mobile: 16px;
  --padding-inner-section: 100px;

  color-scheme: light dark;
  color: var(--White);
  background: var(--Grey-BG);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Gotham";
  font-weight: 500;
  src: local("Gotham"),
    url(./assets/fonts/Gotham/Gotham-Medium-500.woff) format("opentype");
}
@font-face {
  font-family: "Gotham";
  font-weight: 700;
  src: local("Gotham"),
    url(./assets/fonts/Gotham/Gotham-Bold-700.woff) format("opentype");
}
@font-face {
  font-family: "Gotham-Book";
  font-weight: 500;
  src: local("Gotham-Book"),
    url(./assets/fonts/Gotham-Book/Gotham-Book-Font-500.otf) format("opentype");
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  /* border: 1px solid red; */
}

body {
  min-height: 100vh;
  font-family: Gotham;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html {
  font-size: 1vw;
  scroll-behavior: smooth;
}

img,
video {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
}
button {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--Yellow);
  border-radius: 10px;
  transition: all 2s ease-in-out;
}
.react-responsive-modal-modal {
  max-width: fit-content;
}

.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  background-color: transparent !important;
  background-image: url(./assets/images/paginationDefault.png) !important;
}
.swiper-pagination-bullet-active {
  background-image: url(./assets/images/paginationActive.png) !important;
}
.swiper-pagination-bullets {
  position: sticky !important;
  margin-top: 64px !important;
}
@media (orientation: portrait) {
  .swiper-pagination-bullets {
    margin-top: 40px !important;
  }
}
